
<div class="contextual">
    <%= link_to l(:rc_config_new), { :controller => 'rc_config', :action => "new" }, { :class => 'icon icon-add' }  %>
    <%= link_to l(:rc_eval_time_spent_job_schedule), { :controller => 'rc_config', :action => "schedule_eval_time_spent_full" }, { :class => 'icon icon-summary' }  %>
</div>
<h1><%= l(:rc_config_edit)%></h1>

<%# <%= render(partial: "edit.form") %>
<%= render(partial: "edit.table") %>
