<h1><i class="icon icon-hourglass"></i><%= l(:rc_config_new)%></h1>

<div class="box tabular">
<%= form_for :rc_config, url: {action: "create"}, html: {class: ""} do |f| %>
    <%= render(partial: "form", locals: {form: f}) %>

</div>

<p>
    <%= f.submit l(:button_add)%>
    <%= link_to l(:button_cancel), {:controller => 'rc_config', :action => "edit"},  { :style => 'margin-left: 1em;' } %>
</p>

<% end %>

<%= javascript_tag do %>
// On change
$('.rc_config_rc_type_id').on('change', function(e){
    if(this.value == "2") { // RCTYPE_OCCURRENCES
        $('.rc_config_result_format_container').hide();
    } else {
        $('.rc_config_result_format_container').show();
    }
});
<% end %>
